@model KockpitPortal.ViewModels.Support.tblTicketViewModel;
@{
    ViewData["Title"] = "Index";
}
<style>
    .number input {
        background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSbUF8ijoIW-ZFNk-M-KT-J3uUAfl6bNrkTWPcr3tw1HMjqVoFAFcoKRTk);
        display: inline-block;
        width: 123px;
        height: 21px;
        background-repeat: no-repeat;
        background-position: 96px 0;
        vertical-align: middle;
    }
</style>


<div class="main">
    <div class="all-tickets-container">
        <div class="ticket-cards-wrapper">
            <div class="ticket-card unassigned-card">
                <div class="icon">
                    <span class="iconify" data-icon="clarity:warning-line"></span>
                </div>
                <div class="text">
                    <p class="ticket-subtitle">Total Ticket</p>
                    <p class="ticket-count">@ViewBag.Total</p>
                </div>
                <a href="@Url.Action("Index", "RaiseIssue", new {tType = "All"})"><span class="iconify" data-icon="bi:arrow-right-circle"></span></a>
            </div>
            <div class="ticket-card active-card">
                <div class="icon">
                    <span class="iconify" data-icon="bi:check-circle"></span>
                </div>
                <div class="text">
                    <p class="ticket-subtitle">My Open Tickets</p>
                    <p class="ticket-count">@ViewBag.TotalAssignedToMe</p>
                </div>
                <a href="@Url.Action("Index", "RaiseIssue", new {tType = "Open"})"><span class="iconify" data-icon="bi:arrow-right-circle"></span></a>
            </div>
            <div class="ticket-card closed-card">
                <div class="icon">
                    <span class="iconify" data-icon="bx:lock"></span>
                </div>
                <div class="text">
                    <p class="ticket-subtitle">My Closed Tickets</p>
                    <p class="ticket-count">@ViewBag.TotalCloseByMe</p>
                </div>
                <a href="@Url.Action("Index", "RaiseIssue", new {tType = "Close"})"><span class="iconify" data-icon="bi:arrow-right-circle"></span></a>
            </div>
            <div class="ticket-card assigned-card">
                <div class="icon">
                    <span class="iconify" data-icon="fluent:arrow-repeat-all-16-filled"></span>
                </div>
                <div class="text">
                    <p class="ticket-subtitle">Total Unassigned Tickets</p>
                    <p class="ticket-count">@ViewBag.Unassigned</p>
                </div>
                <a href="@Url.Action("Index", "RaiseIssue", new {tType = "Unassigned"})"> <span class="iconify" data-icon="bi:arrow-right-circle"></span></a>
            </div>
        </div>
        <div class="helpandsupportfaq-container">
            <div class="helpandsupportfaq-header">
                <div class="header-left">
                    <p>Help & Support<span class="iconify" data-icon="ant-design:info-circle-outlined"></span></p>
                </div>
                <div class="header-right">
                    <button data-toggle="modal" data-target="#actionModal" onclick="initControl();">Raise Ticket</button>
                </div>
            </div>
            <div class="tickets-container">
                <div class="tickets-header">
                    <div class="header-left">
                        <p>Tickets</p>
                    </div>
                    <div class="header-right">
                        <div class="search-input">
                            <input type="text" placeholder="Search..." onkeyup="myFunction(this);">
                        </div>
                    </div>
                </div>
                <div class="ticket-tabs">
                    <div class="tab @((string.Equals(ViewBag.TicketType, "All") || ViewBag.TicketType == null) ?"active" : "")">
                        <span>All Tickets</span>
                    </div>
                    <div class="tab @(string.Equals(ViewBag.TicketType, "MyOpen") || string.Equals(ViewBag.TicketType, "MyClose")  ?"active" : "") ">
                        <span>My Tickets</span>
                    </div>
                    <div class="tab @(string.Equals(ViewBag.TicketType, "Unassigned") ?"active" : "")">
                        <span>Unassigned</span>
                    </div>
                </div>
                <div class="tickets-wrapper tickets all-tickets @((string.Equals(ViewBag.TicketType, "All")|| ViewBag.TicketType == null) ?"shown" : "")">
                    <div class="secondary-tabs-container">
                        <div class="secondary-tab @((string.Equals(ViewBag.TicketType, "All") || ViewBag.TicketType == null) ?"active" : "")">
                            <span>All Tickets</span>
                        </div>
                        <div class="secondary-tab">
                            <span>Open Tickets</span>
                        </div>
                        <div class="secondary-tab">
                            <span>Close Tickets</span>
                        </div>
                    </div>
                    <div class="tickets-container all-all-tickets shown">
                        @if (Model.tickets != null && Model.tickets.Count > 0)
                        {
                            @foreach (var item in Model.tickets)
                            {

                                <div class="ticket">
                                    <div class="ticket-header">
                                        <p class="ticket-issue"><a href="@Url.Action("TimeLine", "RaiseIssue", new { id = item.Id} )"> (<span>@item.UniqueId</span>) @item.TicketSubject</a> </p>
                                        <div class="ticket-actions">
                                            @if (item.Attachment.ToString() != "")
                                            {
                                                <a href="@item.Attachment.ToString().Substring(1, item.Attachment.Length - 1)" target="_blank" title="Attachment"><span class="iconify" data-icon="akar-icons:file"></span> </a>
                                            }
                                            @if (item.AssignedTo == ViewBag.SupportManagerID)
                                            {
                                                <button class="comment-toggle-btn" data-bs-toggle="collapse" href="#ticketMessages_All_All_@item.Id" onclick="ShowComments(this,'_All_All_');" data-Id="@item.Id" title="Show Comments"><span class="iconify" data-icon="bi:chat-dots"></span></button>
                                                <button data-value="@item.Id"
                                                        data-assignedTo="@item.AssignedTo"
                                                        data-ticketSubject="@item.TicketSubject"
                                                        data-level="@item.Level"
                                                        data-issueId="@item.IssueId"
                                                        data-discription="@item.Description"
                                                        data-subscriptionId="@item.subscriptionId"
                                                        data-scenario="@item.Scenario"
                                                        data-resolution="@item.Resolution"
                                                        data-userid="@item.UserId"
                                                        data-uniqueid="@item.UniqueId"
                                                        data-status="@item.TicketStatus"
                                                        onclick="EditTicket(this);"
                                                        title="Edit Ticket">
                                                    <span class="iconify" data-icon="clarity:note-edit-line"></span>
                                                </button>
                                                if (item.TicketStatus == "Open")
                                                {
                                                    <button data-value="@item.Id" data-resolution="@item.Resolution" onclick="CloseTicket(this);"
                                                            title="Close Ticket">
                                                        <span class="iconify" data-icon="ant-design:close-circle-twotone"></span>
                                                    </button>
                                                }

                                            }
                                        </div>
                                    </div>
                                    <div class="ticket-info">
                                        <p>Description: @item.Description</p>
                                        <p>Company: @item.UserName</p>
                                        <p>Scenario: @item.Scenario</p>
                                        <p>Date: @item.CreatedOn.ToString("yyyy-MM-dd")</p>
                                        <p>Criticality: @item.Level</p>
                                        <p>Time: @item.CreatedOn.ToString("HH:mm:tt")</p>
                                    </div>
                                    <div class="collapse" id="ticketMessages_All_All_@item.Id">
                                        <p class="comments-heading">Comments</p>
                                        <div class="comments-wrapper" id="comment_All_All_@item.Id">
                                        </div>
                                        @if (item.AssignedTo == ViewBag.SupportManagerID)
                                        {
                                            <div class="comment-input-wrapper">
                                                <input type="text" name="comment-input" id="tComment_All_All_@item.Id" placeholder="Enter comment">
                                                <input type="file" name="comment-attachment" id="tFile_All_All_@item.Id" style="display: none;" />
                                                <label for="tFile_All_All_@item.Id"><span class="iconify" data-icon="gridicons:attachment"></span></label>
                                                <button onclick="AddComment(this,'_All_All_');" data-id="@item.Id" data-assignedto="@item.AssignedTo" data-userid="@item.UserId" data-uniqueid="@item.UniqueId">Comment</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="tickets-container all-open-tickets">
                        @if (Model.tickets != null && Model.tickets.Count > 0)
                        {
                            @foreach (var item in Model.tickets)
                            {
                                if (item.TicketStatus == "Open")
                                {
                                    <div class="ticket">
                                        <div class="ticket-header">
                                            <p class="ticket-issue"><a href="@Url.Action("TimeLine", "RaiseIssue", new { id = item.Id} )"> (<span>@item.UniqueId</span>) @item.TicketSubject</a> </p>
                                            <div class="ticket-actions">
                                                @if (item.Attachment.ToString() != "")
                                                {
                                                    <a href="@item.Attachment.ToString().Substring(1, item.Attachment.Length - 1)" target="_blank" title="Attachment"><span class="iconify" data-icon="akar-icons:file"></span> </a>
                                                }
                                                @if (item.AssignedTo == ViewBag.SupportManagerID)
                                                {
                                                    <button class="comment-toggle-btn" data-bs-toggle="collapse" href="#ticketMessages_All_Open_@item.Id" onclick="ShowComments(this,'_All_Open_');" data-Id="@item.Id" title="Show Comments"><span class="iconify" data-icon="bi:chat-dots"></span></button>
                                                    <button data-value="@item.Id"
                                                            data-assignedTo="@item.AssignedTo"
                                                            data-ticketSubject="@item.TicketSubject"
                                                            data-level="@item.Level"
                                                            data-issueId="@item.IssueId"
                                                            data-discription="@item.Description"
                                                            data-subscriptionId="@item.subscriptionId"
                                                            data-scenario="@item.Scenario"
                                                            data-resolution="@item.Resolution"
                                                            data-userid="@item.UserId"
                                                            data-uniqueid="@item.UniqueId"
                                                            data-status="@item.TicketStatus"
                                                            onclick="EditTicket(this);" title="Edit Ticket">
                                                        <span class="iconify" data-icon="clarity:note-edit-line"></span>
                                                    </button>
                                                    <button data-value="@item.Id" data-resolution="@item.Resolution" onclick="CloseTicket(this);" title="Close Ticket"><span class="iconify" data-icon="ant-design:close-circle-twotone"></span></button>
                                                }
                                            </div>
                                        </div>
                                        <div class="ticket-info">
                                            <p>Description: @item.Description</p>
                                            <p>Company: @item.UserName</p>
                                            <p>Scenario: @item.Scenario</p>
                                            <p>Date: @item.CreatedOn.ToString("yyyy-MM-dd")</p>
                                            <p>Criticality: @item.Level</p>
                                            <p>Time: @item.CreatedOn.ToString("HH:mm:tt")</p>
                                        </div>
                                        <div class="collapse" id="ticketMessages_All_Open_@item.Id">
                                            <p class="comments-heading">Comments</p>
                                            <div class="comments-wrapper" id="comment_All_Open_@item.Id">
                                            </div>
                                            @if (item.AssignedTo == ViewBag.SupportManagerID)
                                            {
                                                <div class="comment-input-wrapper">
                                                    <input type="text" name="comment-input" id="tComment_All_Open_@item.Id" placeholder="Enter comment">
                                                    <input type="file" name="comment-attachment" id="tFile_All_Open_@item.Id" style="display: none;" />
                                                    <label for="tFile_All_Open_@item.Id"><span class="iconify" data-icon="gridicons:attachment"></span></label>
                                                    <button onclick="AddComment(this,'_All_Open_');" data-id="@item.Id" data-assignedto="@item.AssignedTo" data-userid="@item.UserId" data-uniqueid="@item.UniqueId">Comment</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div class="tickets-container all-close-tickets">
                        @if (Model.tickets != null && Model.tickets.Count > 0)
                        {
                            @foreach (var item in Model.tickets)
                            {
                                if (item.TicketStatus == "Close")
                                {
                                    <div class="ticket">
                                        <div class="ticket-header">
                                            <p class="ticket-issue"><a href="@Url.Action("TimeLine", "RaiseIssue", new { id = item.Id} )"> (<span>@item.UniqueId</span>) @item.TicketSubject</a> </p>
                                            <div class="ticket-actions">
                                                @if (item.Attachment.ToString() != "")
                                                {
                                                    <a href="@item.Attachment.ToString().Substring(1, item.Attachment.Length - 1)" target="_blank" title="Attachment"><span class="iconify" data-icon="akar-icons:file"></span> </a>
                                                }
                                                @if (item.AssignedTo == ViewBag.SupportManagerID)
                                                {
                                                    <button class="comment-toggle-btn" data-bs-toggle="collapse" href="#ticketMessages_All_Close_@item.Id" onclick="ShowComments(this,'_All_Close_');" data-Id="@item.Id" title="Show Comments"><span class="iconify" data-icon="bi:chat-dots"></span></button>
                                                    <button data-value="@item.Id"
                                                            data-assignedTo="@item.AssignedTo"
                                                            data-ticketSubject="@item.TicketSubject"
                                                            data-level="@item.Level"
                                                            data-issueId="@item.IssueId"
                                                            data-discription="@item.Description"
                                                            data-subscriptionId="@item.subscriptionId"
                                                            data-scenario="@item.Scenario"
                                                            data-resolution="@item.Resolution"
                                                            data-userid="@item.UserId"
                                                            data-uniqueid="@item.UniqueId"
                                                            data-status="@item.TicketStatus"
                                                            onclick="EditTicket(this);" title="Edit Ticket">
                                                        <span class="iconify" data-icon="clarity:note-edit-line"></span>
                                                    </button>
                                                }
                                            </div>
                                        </div>
                                        <div class="ticket-info">
                                            <p>Description: @item.Description</p>
                                            <p>Company: @item.UserName</p>
                                            <p>Scenario: @item.Scenario</p>
                                            <p>Date: @item.CreatedOn.ToString("yyyy-MM-dd")</p>
                                            <p>Criticality: @item.Level</p>
                                            <p>Time: @item.CreatedOn.ToString("HH:mm:tt")</p>
                                        </div>
                                        <div class="collapse" id="ticketMessages_All_Close_@item.Id">
                                            <p class="comments-heading">Comments</p>
                                            <div class="comments-wrapper" id="comment_All_Close_@item.Id">
                                            </div>
                                            @if (item.AssignedTo == ViewBag.SupportManagerID)
                                            {
                                                <div class="comment-input-wrapper">
                                                    <input type="text" name="comment-input" id="tComment_All_Close_@item.Id" placeholder="Enter comment">
                                                    <input type="file" name="comment-attachment" id="tFile_All_Close_@item.Id" style="display: none;" />
                                                    <label for="tFile_All_Close_@item.Id"><span class="iconify" data-icon="gridicons:attachment"></span></label>
                                                    <button onclick="AddComment(this,'_All_Close_');" data-id="@item.Id" data-assignedto="@item.AssignedTo" data-userid="@item.UserId" data-uniqueid="@item.UniqueId">Comment</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="tickets-wrapper tickets my-tickets @(string.Equals(ViewBag.TicketType, "Open") || string.Equals(ViewBag.TicketType, "Close")  ?"shown" : "")">
                    <div class="secondary-tabs-container">
                        <div class="secondary-tab @(ViewBag.TicketType != "Open" && ViewBag.TicketType != "Close" ? "active" :"")">
                            <span>All Tickets</span>
                        </div>
                        <div class="secondary-tab @(string.Equals(ViewBag.TicketType, "Open")   ?"active" : "")">
                            <span>Open Tickets</span>
                        </div>
                        <div class="secondary-tab @( string.Equals(ViewBag.TicketType, "Close")  ?"active" : "")">
                            <span>Close Tickets</span>
                        </div>
                    </div>
                    <div class="tickets-container my-all-tickets @(ViewBag.TicketType != "Open" && ViewBag.TicketType != "Close" ? "shown" :"") ">
                        @if (Model.tickets != null && Model.tickets.Count > 0)
                        {
                            @foreach (var item in Model.tickets)
                            {
                                if (item.AssignedTo == ViewBag.SupportManagerID)
                                {
                                    <div class="ticket">
                                        <div class="ticket-header">
                                            <p class="ticket-issue"><a href="@Url.Action("TimeLine", "RaiseIssue", new { id = item.Id} )"> (<span>@item.UniqueId</span>) @item.TicketSubject</a> </p>
                                            <div class="ticket-actions">
                                                @if (item.Attachment.ToString() != "")
                                                {
                                                    <a href="@item.Attachment.ToString().Substring(1, item.Attachment.Length - 1)" target="_blank" title="Attachment"><span class="iconify" data-icon="akar-icons:file"></span> </a>
                                                }
                                                <button class="comment-toggle-btn" data-bs-toggle="collapse" href="#ticketMessages_My_All_@item.Id" onclick="ShowComments(this,'_My_All_');" data-Id="@item.Id" title="Show Comments"><span class="iconify" data-icon="bi:chat-dots"></span></button>
                                                <button data-value="@item.Id"
                                                        data-assignedTo="@item.AssignedTo"
                                                        data-ticketSubject="@item.TicketSubject"
                                                        data-level="@item.Level"
                                                        data-issueId="@item.IssueId"
                                                        data-discription="@item.Description"
                                                        data-subscriptionId="@item.subscriptionId"
                                                        data-scenario="@item.Scenario"
                                                        data-resolution="@item.Resolution"
                                                        data-userid="@item.UserId"
                                                        data-uniqueid="@item.UniqueId"
                                                        data-status="@item.TicketStatus"
                                                        onclick="EditTicket(this);" title="Edit Ticket">
                                                    <span class="iconify" data-icon="clarity:note-edit-line"></span>
                                                </button>
                                                @if (item.TicketStatus == "Open")
                                                {
                                                    <button data-value="@item.Id" data-resolution="@item.Resolution" onclick="CloseTicket(this);" title="Close Ticket"><span class="iconify" data-icon="ant-design:close-circle-twotone"></span></button>
                                                }
                                            </div>
                                        </div>
                                        <div class="ticket-info">
                                            <p>Description: @item.Description</p>
                                            <p>Company: @item.UserName</p>
                                            <p>Scenario: @item.Scenario</p>
                                            <p>Date: @item.CreatedOn.ToString("yyyy-MM-dd")</p>
                                            <p>Criticality: @item.Level</p>
                                            <p>Time: @item.CreatedOn.ToString("HH:mm:tt")</p>
                                        </div>
                                        <div class="collapse" id="ticketMessages_My_All_@item.Id">
                                            <p class="comments-heading">Comments</p>
                                            <div class="comments-wrapper" id="comment_My_All_@item.Id">
                                            </div>
                                            <div class="comment-input-wrapper">
                                                <input type="text" name="comment-input" id="tComment_My_All_@item.Id" placeholder="Enter comment">
                                                <input type="file" name="comment-attachment" id="tFile_My_All_@item.Id" style="display: none;" />
                                                <label for="tFile_My_All_@item.Id"><span class="iconify" data-icon="gridicons:attachment"></span></label>
                                                <button onclick="AddComment(this,'_My_All_');" data-id="@item.Id" data-assignedto="@item.AssignedTo" data-userid="@item.UserId" data-uniqueid="@item.UniqueId">Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div class="tickets-container my-open-tickets @(string.Equals(ViewBag.TicketType, "Open")  ?"shown" : "")">
                        @if (Model.tickets != null && Model.tickets.Count > 0)
                        {
                            @foreach (var item in Model.tickets)
                            {
                                if (item.AssignedTo == ViewBag.SupportManagerID && item.TicketStatus == "Open")
                                {
                                    <div class="ticket">
                                        <div class="ticket-header">
                                            <p class="ticket-issue"><a href="@Url.Action("TimeLine", "RaiseIssue", new { id = item.Id} )"> (<span>@item.UniqueId</span>) @item.TicketSubject</a> </p>
                                            <div class="ticket-actions">
                                                @if (item.Attachment.ToString() != "")
                                                {
                                                    <a href="@item.Attachment.ToString().Substring(1, item.Attachment.Length - 1)" target="_blank" title="Attachment"><span class="iconify" data-icon="akar-icons:file"></span> </a>
                                                }
                                                <button class="comment-toggle-btn" data-bs-toggle="collapse" href="#ticketMessages_My_Open_@item.Id" onclick="ShowComments(this,'_My_Open_');" data-Id="@item.Id" title="Show Comments"><span class="iconify" data-icon="bi:chat-dots"></span></button>
                                                <button data-value="@item.Id"
                                                        data-assignedTo="@item.AssignedTo"
                                                        data-ticketSubject="@item.TicketSubject"
                                                        data-level="@item.Level"
                                                        data-issueId="@item.IssueId"
                                                        data-discription="@item.Description"
                                                        data-subscriptionId="@item.subscriptionId"
                                                        data-scenario="@item.Scenario"
                                                        data-resolution="@item.Resolution"
                                                        data-userid="@item.UserId"
                                                        data-uniqueid="@item.UniqueId"
                                                        data-status="@item.TicketStatus"
                                                        onclick="EditTicket(this);"
                                                        title="Edit Ticket">
                                                    <span class="iconify" data-icon="clarity:note-edit-line"></span>
                                                </button>
                                                <button data-value="@item.Id" data-resolution="@item.Resolution" onclick="CloseTicket(this);" title="Close Ticket"><span class="iconify" data-icon="ant-design:close-circle-twotone"></span></button>
                                            </div>
                                        </div>
                                        <div class="ticket-info">
                                            <p>Description: @item.Description</p>
                                            <p>Company: @item.UserName</p>
                                            <p>Scenario: @item.Scenario</p>
                                            <p>Date: @item.CreatedOn.ToString("yyyy-MM-dd")</p>
                                            <p>Criticality: @item.Level</p>
                                            <p>Time: @item.CreatedOn.ToString("HH:mm:tt")</p>
                                        </div>
                                        <div class="collapse" id="ticketMessages_My_Open_@item.Id">
                                            <p class="comments-heading">Comments</p>
                                            <div class="comments-wrapper" id="comment_My_Open_@item.Id">
                                            </div>
                                            <div class="comment-input-wrapper">
                                                <input type="text" name="comment-input" id="tComment_My_Open_@item.Id" placeholder="Enter comment">
                                                <input type="file" name="comment-attachment" id="tFile_My_Open_@item.Id" style="display: none;" />
                                                <label for="tFile_My_Open_@item.Id"><span class="iconify" data-icon="gridicons:attachment"></span></label>
                                                <button onclick="AddComment(this,'_My_Open_');" data-id="@item.Id" data-assignedto="@item.AssignedTo" data-userid="@item.UserId" data-uniqueid="@item.UniqueId">Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                    <div class="tickets-container my-close-tickets @(string.Equals(ViewBag.TicketType, "Close")  ?"shown" : "")">
                        @if (Model.tickets != null && Model.tickets.Count > 0)
                        {
                            @foreach (var item in Model.tickets)
                            {
                                if (item.AssignedTo == ViewBag.SupportManagerID && item.TicketStatus == "Close")
                                {
                                    <div class="ticket">
                                        <div class="ticket-header">
                                            <p class="ticket-issue"><a href="@Url.Action("TimeLine", "RaiseIssue", new { id = item.Id} )"> (<span>@item.UniqueId</span>) @item.TicketSubject</a> </p>
                                            <div class="ticket-actions">
                                                @if (item.Attachment.ToString() != "")
                                                {
                                                    <a href="@item.Attachment.ToString().Substring(1, item.Attachment.Length - 1)" target="_blank" title="Attachment"><span class="iconify" data-icon="akar-icons:file"></span> </a>
                                                }
                                                <button class="comment-toggle-btn" data-bs-toggle="collapse" href="#ticketMessages_My_Close_@item.Id" onclick="ShowComments(this,'_My_Close_');" data-Id="@item.Id" title="Show Comments"><span class="iconify" data-icon="bi:chat-dots"></span></button>
                                                <button data-value="@item.Id"
                                                        data-assignedTo="@item.AssignedTo"
                                                        data-ticketSubject="@item.TicketSubject"
                                                        data-level="@item.Level"
                                                        data-issueId="@item.IssueId"
                                                        data-discription="@item.Description"
                                                        data-subscriptionId="@item.subscriptionId"
                                                        data-scenario="@item.Scenario"
                                                        data-resolution="@item.Resolution"
                                                        data-userid="@item.UserId"
                                                        data-uniqueid="@item.UniqueId"
                                                        data-status="@item.TicketStatus"
                                                        onclick="EditTicket(this);"
                                                        title="Edit Ticket">
                                                    <span class="iconify" data-icon="clarity:note-edit-line"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="ticket-info">
                                            <p>Description: @item.Description</p>
                                            <p>Company: @item.UserName</p>
                                            <p>Scenario: @item.Scenario</p>
                                            <p>Date: @item.CreatedOn.ToString("yyyy-MM-dd")</p>
                                            <p>Criticality: @item.Level</p>
                                            <p>Time: @item.CreatedOn.ToString("HH:mm:tt")</p>
                                        </div>
                                        <div class="collapse" id="ticketMessages_My_Close_@item.Id">
                                            <p class="comments-heading">Comments</p>
                                            <div class="comments-wrapper" id="comment_My_Close_@item.Id">
                                            </div>
                                            <div class="comment-input-wrapper">
                                                <input type="text" name="comment-input" id="tComment_My_Close_@item.Id" placeholder="Enter comment">
                                                <input type="file" name="comment-attachment" id="tFile_My_Close_@item.Id" style="display: none;" />
                                                <label for="tFile_My_Close_@item.Id"><span class="iconify" data-icon="gridicons:attachment"></span></label>
                                                <button onclick="AddComment(this,'_My_Close_');" data-id="@item.Id" data-assignedto="@item.AssignedTo" data-userid="@item.UserId" data-uniqueid="@item.UniqueId">Comment</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="tickets-wrapper tickets unassigned-tickets @(string.Equals(ViewBag.TicketType, "Unassigned")  ?"shown" : "")">
                    <div class="tickets-container unassigned-all-tickets shown">
                        @if (Model.tickets != null && Model.tickets.Count > 0)
                        {
                            @foreach (var item in Model.tickets)
                            {
                                if (item.AssignedTo == 0)
                                {
                                    <div class="ticket">
                                        <div class="ticket-header">
                                            <p class="ticket-issue"><a href="@Url.Action("TimeLine", "RaiseIssue", new { id = item.Id} )"> (<span>@item.UniqueId</span>) @item.TicketSubject</a> </p>
                                            <div class="ticket-actions">
                                                @if (item.Attachment.ToString() != "")
                                                {
                                                    <a href="@item.Attachment.ToString().Substring(1, item.Attachment.Length - 1)" target="_blank" title="Attachment"><span class="iconify" data-icon="akar-icons:file"></span> </a>
                                                }
                                            </div>
                                        </div>
                                        <div class="ticket-info">
                                            <p>Description: @item.Description</p>
                                            <p>Company: @item.UserName</p>
                                            <p>Scenario: @item.Scenario</p>
                                            <p>Date: @item.CreatedOn.ToString("yyyy-MM-dd")</p>
                                            <p>Criticality: @item.Level</p>
                                            <p>Time: @item.CreatedOn.ToString("HH:mm:tt")</p>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                @*<div class="helpandsupportfaq-faq">
            <p class="faq-header">
                FAQs
                <span class="iconify" data-icon="ant-design:info-circle-outlined"></span>
            </p>
            @if (Model.faqs != null && Model.faqs.Count > 0)
            {
                @foreach (var faq in Model.faqs)
                {
                    <div class="faq-item">
                        <button data-toggle="collapse" data-bs-target="#@faq.Id">
                            <p>
                                @faq.FrequentQuestion
                            </p>
                            <span class="iconify" data-icon="bi:arrow-down-circle"></span>
                        </button>
                        <div class="collapse collapse-horizontal" id="@faq.Id">
                            <p>@faq.FrequentAnswer</p>
                        </div>
                    </div>
                }
            }
        </div>*@
            </div>
        </div>
    </div>
        <div class="overlay" id="loader" style="display:none">
            <i class="fas fa-2x fa-sync-alt fa-spin"></i>
        </div>
    </div>

    <div class="modal fade" id="actionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Raise Ticket</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close"><span class="iconify" data-icon="ep:close-bold"></span></button>
                </div>
                <div class="modal-body">
                    <form asp-action="Index" asp-controller="RaiseIssue" method="post" enctype="multipart/form-data">
                        <input type="hidden" asp-for="ticket.Id" />
                        <div class="group">
                            <label for="offering">Offering/Service<span style="color:indianred;">*</span></label>

                            <select asp-for="ticket.subscriptionId" class="colorchg">

                                @foreach (var item in ViewBag.Plans)
                                {
                                    <option value="@item.Value">
                                        @item.Text
                                    </option>
                                }
                            </select>
                        </div>
                        <div class="modal-input-row">
                            <div class="group">
                                <label for="ticket-subject">Ticket Subject<span style="color:indianred;">*</span></label>
                                <input type="text" asp-for="ticket.TicketSubject">
                            </div>
                            <div class="group">
                                <label for="ticket-level">Ticket Level<span style="color:indianred;">*</span></label>
                                <select asp-for="ticket.Level">
                                    <option value="">[--Select--]</option>
                                    <option value="Critical">Critical</option>
                                    <option value="High">High</option>
                                    <option value="Normal">Normal</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                            <div class="group">
                                <label for="issue-type">Issue Type<span style="color:indianred;">*</span></label>
                                <select asp-for="ticket.IssueId" asp-items="ViewBag.Issue">
                                </select>
                            </div>
                        </div>
                        <div class="group">
                            <label for="description">Description<span style="color:indianred;">*</span></label>
                            <textarea asp-for="ticket.Description" cols="30" rows="5" placeholder="Type here..."></textarea>
                        </div>
                        <div class="group">
                            <label for="scenario">Scenario<span style="color:indianred;">*</span></label>
                            <textarea asp-for="ticket.Scenario" cols="30" rows="5" placeholder="Type here..."></textarea>
                        </div>
                        <div class="group" id="resDiv" style="display:none;">
                            <label for="scenario">Resolution</label>
                            <textarea asp-for="ticket.Resolution" cols="30" rows="5" placeholder=""></textarea>
                        </div>
                        <div class="group" id="fileDiv">
                            <label for="attachments">Attachments</label>
                            <input type="file" asp-for="ticket.file">
                        </div>
                        <button class="ko-btn-primary-lg" type="submit" onclick="return ValidateEntry();" id="submitTicket">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    @*<div class="modal fade" id="editModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="col-lg-12">
                            <div class="row d-flex">
                                <div class="col-lg-10">
                                    <h5 class="modal-title" id="exampleModalLabel"><b><i class="fa fa-ticket"></i>Edit Ticket</b></h5>
                                </div>
                                <div class="col-lg-2">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" id="hidTicketId" />
                    <input type="hidden" id="hidUserId" />
                    <input type="hidden" id="hidUniqueId" />
                    <input type="hidden" id="hidAssignedTo" />
                    <div class="modal-body" style="overflow-x:hidden;overflow-y:auto; height:450px;">
                        <div class="row d-flex">
                            <div class="col-lg-12">
                                <div class="row d-flex">
                                    <div class="col-lg-12 form-group">
                                        <label for="fname">Add Comment</label>
                                        <select class="form-control" id="eOffering" asp-items="ViewBag.Plans" disabled>
                                        </select>
                                    </div>

                                    <div class="row col-lg-12 form-group">
                                        <label for="fname" class="col-md-4">Ticket Subject</label>
                                        <label for="fname" class="col-md-4">Ticket Level</label>
                                        <label for="fname" class="col-md-4">Issue Type</label>

                                    </div>
                                    <div class="row form-group col-md-12">
                                        <input type="text" id="eSubject" class="form-control col-md-4" placeholder="Ticket Subject" disabled>
                                        <select class="form-control col-md-4" id="eLevel" disabled>
                                            <option value="">[--Select--]</option>
                                            <option value="Critical">Critical</option>
                                            <option value="High">High</option>
                                            <option value="Normal">Normal</option>
                                            <option value="Low">Low</option>
                                        </select>
                                        <select class="form-control col-md-4" id="eIssue" asp-items="ViewBag.Issue" disabled>
                                        </select>

                                    </div>
                                    <div class="col-lg-12 form-group">
                                        <label for="fname">Description</label>
                                        <textarea id="eDiscription" rows="5" class="form-control" placeholder="Description" readonly></textarea>
                                    </div>

                                    <div class="col-lg-12 form-group">
                                        <label for="fname">Scenario</label>
                                        <textarea rows="5" id="eScenario" class="form-control" placeholder="Enter scenario" readonly></textarea>
                                    </div>

                                    <div class="col-lg-12 form-group" id="rDiv">
                                        <label for="fname">Resolution by Support Team</label>
                                        <textarea rows="5" id="eResolution" class="form-control" readonly></textarea>
                                    </div>

                                    <div class="input-group col-lg-12 form-group" id="cDiv">
                                        <textarea rows="2" class="form-control" placeholder="Enter Comment" id="tComment"></textarea>
                                        <div class="input-group-append">
                                            <label for="tFile" class="input-group-text" style="cursor:pointer;"><i class="fa fa-paperclip" aria-hidden="true"></i></label>
                                            <input type="file" style="opacity:0;position:absolute;z-index:-1;" name="photo" id="tFile"  />
                                        </div>
                                    </div>
                                    <a href="#" style="text-align:right" class="col-12" onclick="ShowComments();" id="sComments"><i class="fa fa-angle-down" style="color:blue"></i> show comments</a>
                                    <div id="divComments" class="row form-group col-12" style="margin-top:10px;">

                                    </div>
                                    <a href="#" style="text-align:right;display:none;" class="col-12" onclick="HideComments();" id="hComments"><i class="fa fa-angle-up" style="color:blue"></i> hide comments</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer afooter" id="cDiv">
                        <div class="col-lg-12">
                            <div class="row d-flex">
                                <div class="col-lg-5">
                                </div>
                                <div class="col-lg-2">
                                    <div class="modal-button">
                                        <button type="button" class="btn btn-primary" onclick="AddComment();"><b>Submit</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    @section Scripts
{
        <script type="text/javascript">
        $(function () {
            @if(ViewData["error"] != null)
            {
                <text>
                    toastr.error("@ViewData["error"]", "Error", { "iconClass": 'new-error' });
                </text>
            }
            @if(ViewData["success"] != null)
            {
                <text>
                    toastr.success("@ViewData["success"]");
                </text>
            }

            $("#actionModal").on('hidden.bs.modal', function () {
                clearValidate();
            });

            $(".colorchg option").each(function () {
                if ($(this).val().indexOf('Service')>=0) {
                    console.log($(this).val());
                    $(this).css("background", "LightGrey");
                }
            });

        });

        function ValidateEntry() {
            clearValidate();

            var allow = true;
            if ($('#ticket_TicketSubject').val().trim().length == 0) {
                $('#ticket_TicketSubject').parent('.group').addClass('error');
                allow = false;
            }

            if($('#ticket_IssueId').val().trim().length ==0){
                $("#ticket_IssueId").parent('.group').addClass('error');
                allow = false;
            }

            if ($('#ticket_Description').val().trim().length == 0) {
                $('#ticket_Description').parent('.group').addClass('error');
                allow = false;
            }

            if ($('#ticket_Scenario').val().trim().length == 0) {
                $('#ticket_Scenario').parent('.group').addClass('error');
                allow = false;
            }

            if ($('#ticket_subscriptionId').val().trim().length == 0) {
                $('#ticket_subscriptionId').parent('.group').addClass('error');
                allow = false;
            }
            if ($('#ticket_Level').val().trim().length == 0) {
                $('#ticket_Level').parent('.group').addClass('error');
                allow = false;
            }

            //if ($('#ticket_file').get(0).files.length === 0) {
            //    $('#ticket_file').parent('.group').addClass('error');
            //    allow = false;
            //}

            if (ValidateFileType() == false) {
                $('#ticket_file').parent('.group').addClass('error');
                allow = false;
            }
            //if (allow) {
            //}


            if (allow) {
                $("#loader").show();
                $("#actionModal").modal('hide');
            }
            return allow;
        }

        function confirmation() {
            if (confirm("Are you sure want to delete ?")) {
                $("#loader").show();
                return true;
            } else {
                return false;
            }
        }

        //function editModal(btn) {
        //    var _Id = $(btn).attr("nId");
        //    var _ProjectName = $(btn).attr("ProjectName");
        //    var _Description = $(btn).attr("Description");
        //    var _Version = $(btn).attr("Version");
        //    var _ProjectType = $(btn).attr("ProjectType");
        //    var _ProjectLink = $(btn).attr("ProjectLink");

        //    var _CoverImg = $(btn).attr("CoverImage");
        //    var _CoverVid = $(btn).attr("CoverVideo");
        //    $("#project_Id").val(_Id);
        //    $("#project_ProjectName").val(_ProjectName);
        //    $("#project_Description").val(_Description);
        //    $("#project_Version").val(_Version);
        //    $("#project_ProjectType").val(_ProjectType);
        //    $("#project_ProjectStartUpLink").val(_ProjectLink);

        //    $("#imgCover").attr("src", _CoverImg);
        //    $("#vidCover").attr("src", _CoverVid);
        //    $("#actionModal").modal("show");
        //}

        function clearValidate() {
            $('#ticket_TicketSubject').parent('.group').removeClass('error');
            $('#ticket_Description').parent('.group').removeClass('error');
            $('#ticket_subscriptionId').parent('.group').removeClass('error');
            $('#ticket_IssueId').parent('.group').removeClass('error');
            $('#ticket_Scenario').parent('.group').removeClass('error');
            $('#ticket_file').parent('.group').removeClass('error');
            $('#ticket_Level').parent('.group').removeClass('error');
        }

        function initControl() {
            $("#ticket_TicketSubject").val("");
            $('#ticket_Description').val("");
            $('#ticket_subscriptionId').val("");
            $('#ticket_file').val("");
            $('#ticket_Level').val("");
            $("#ticket_Scenario").val("");
            $("#ticket_Resolution").val("");
            $("#ticket_IssueId").val("");
            DisabledOptions(false);
            $("#fileDiv").show();
            $("#resDiv").hide();
        }

        function GetLicense(plan) {
            $("#ticket_ProjectId").html("");
            $("#loader").show();
            var id = $(plan).val();
            if (id != "") {
                var frmData = new FormData();
                frmData.append("subscriptionId", id);
                $.ajax({
                    url: "@Url.Action("GetLicense", "RaiseIssue")",
                    type: "POST",
                    data: frmData,
                    contentType: false,
                    processData: false,
                    success: function (res) {
                        $("#loader").hide();
                        if (res.item1.success == true) {
                            if (res.item2.length > 0) {
                                var selCategory = "";
                                for (i = 0; i < res.item2.length; i++) {
                                    selCategory += "<option value='" + res.item2[i].value + "'>" + res.item2[i].text + "</option>";
                                }
                                $("#ticket_ProjectId").append(selCategory);
                            }
                        } else {
                            toastr.error(res.item2.msg);
                        }
                    },
                    error: function (err) {
                        toastr.error(err);
                        $("#loader").hide();
                    }
                });
            }
        }




        function EditTicket(btn) {
           // HideComments();
            $("#tComment").removeClass('is-invalid');
            $("#tComment").val('');
            $("#tFile").val('');
            var uniqueId = $(btn).data("uniqueid")
            var userId = $(btn).data("userid");
            var id = $(btn).data("value");
            var assignedTo = $(btn).data("assignedto");
            var ticketSubject = $(btn).data("ticketsubject");
            var level = $(btn).data("level");
            var issueId = $(btn).data("issueid");
            var discription = $(btn).data("discription");
            var subscriptionId = $(btn).data("subscriptionid");
            var scenario = $(btn).data("scenario");
            var resolution = $(btn).data("resolution");
            var status = $(btn).data("status");
            $("#resDiv").show();
            $("#fileDiv").hide();

            $("#ticket_subscriptionId").val(subscriptionId);
            $("#ticket_Resolution").val(resolution);
            $("#ticket_TicketSubject").val(ticketSubject);
            $("#ticket_Level").val(level);
            $("#ticket_IssueId").val(issueId);
            $("#ticket_Description").text(discription);
            $("#ticket_Scenario").text(scenario);
            $("#hidAssignedTo").val(assignedTo);
            $("#hidTicketId").val(id);
            $("#hidUserId").val(userId);
            $("#hidUniqueId").val(uniqueId);
            DisabledOptions(true);
            $("#actionModal").modal('show');
        }

        function AddComment(btn,value) {
            var Id = $(btn).data("id");
            var  assignedTo  = $(btn).data("assignedto");
            var userId = $(btn).data("userid");
            var uniqueId = $(btn).data("uniqueid");
            var comment = $("#tComment"+value+Id+"").val();
            var allow = true;
            if ($("#tComment" +value+ Id + "").val().trim().length == 0) {
                $("#tComment" +value + Id + "").addClass('is-invalid');
                allow = false;
            } else {
                $("#tComment" +value + Id + "").removeClass('is-invalid');
            }
            var uploadedfile = $("#tFile"+value+Id+"").get(0);
            if (allow) {
                $("#loader").show();
               // $("#editModal").modal('hide');
                var frmData = new FormData();
                frmData.append("tTicketId", Id);
                frmData.append("nAssignedTo", assignedTo);
                frmData.append("tComment", comment);
                frmData.append("tAttachment", uploadedfile.files[0]);
                frmData.append("userId", userId);
                frmData.append("uniqueId", uniqueId);
                $("#tFile"+value+Id).val("");
                $("#tComment"+value + Id).val("");
                $("#loader").show();
                $.ajax({
                    url: "@Url.Action("AddComment", "RaiseIssue")",
                    type: "POST",
                    data: frmData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#loader").hide();
                        if (result.success == true) {

                            $("#loader").hide();
                            toastr.success("comment added succesfully on this ticket");
                            $("#tFile" + value + Id + "").val("");
                            $("#tComment" +value+ Id + "").val("");
                            GetComments(Id,value);
                        } else {
                            toastr.error(result.msg);
                        }
                    },
                    error: function (errorThrown) {
                        $("#loader").hide();
                        toastr.error(errorThrown.Msg);
                    }
                });
            }
        }

        function ShowComments(btn,value) {
            const commentContainer = btn.parentElement.parentElement.nextElementSibling.nextElementSibling;
            if (commentContainer.classList.contains("shown")) {
                commentContainer.classList.remove("shown");
            } else {
                commentContainer.classList.add("shown");
            }
            GetComments($(btn).data("id"),value);
        }


        function GetComments(Id,value) {
            $("#comment"+value + Id + "").html("");
           // var Id = $(btn).data("id");
            if (Id != undefined) {
                var frmData = new FormData();
                frmData.append("id", Id);
                $("#loader").show();
                $.ajax({
                    url: "@Url.Action("ShowComments", "RaiseIssue")",
                    type: "POST",
                    data: frmData,
                    contentType: false,
                    processData: false,
                    success: function (result) {
                        $("#loader").hide();
                        if (result.item1.success == true) {
                            $("#hComments").show();
                            $("#sComments").hide();
                            var htmlData = "";
                            //htmlData += "<div class='card  col-12' style='margin-left:10px;padding-top:10px;'>";

                            for (var i = 0; i < result.item2.length; i++) {
                                if (result.item2[i].action == "Comment added on ticket") {
                                    htmlData += "<div class='comment'>";
                                    htmlData += "<img src=" + window.location.origin + result.item2[i].logo.trim().slice(1) + " ><div class='comment-data'> <div class='comment-timestamp'>";
                                    htmlData += '<p class="comment-date"> <span class="iconify" data-icon="uil:calender"></span>' + result.item2[i].ticketStatusDate.replace('T', ' ').replace('Z', '').split(' ')[0];+'</p> ';
                                    htmlData += '<p class="comment-time"> <span class="iconify" data-icon="uil:calender"></span>' + convertTime12to24(result.item2[i].ticketStatusDate.replace('T', ' ').replace('Z', '').split(' ')[1]) +'</p> ';
                                    if (result.item2[i].attachment != null && result.item2[i].attachment != "")
                                        htmlData += "<p class='comment-attachment'> <a href=" + window.location.origin + result.item2[i].attachment.trim().slice(1) + " class='link-black text-sm' target='_blank'><span class='iconify' data-icon='akar-icons:file'></span></a></p>"
                                    htmlData += "</div>";
                                    htmlData += '<p class="commentor-name">' + result.item2[i].userName + '</p>';
                                    htmlData += '<p class="comment-text">' + result.item2[i].remarks +'</p></div></div>';

                                }
                            }
                            $("#comment" + value + Id + "").append(htmlData);
                        } else {
                            toastr.error(result.msg);
                        }
                    },
                    error: function (errorThrown) {
                        $("#loader").hide();
                        toastr.error(errorThrown.Msg);
                    }
                });
            }
        }

        //function HideComments() {
        //    $("#hComments").hide();
        //    $("#sComments").show();
        //    $("#divComments").html("");
        //}

        function DisabledOptions(flag) {
            $("#ticket_subscriptionId").prop('disabled', flag);
            $("#ticket_Resolution").prop('readonly', flag);
            $("#ticket_TicketSubject").prop('readonly', flag);
            $("#ticket_Level").prop('disabled', flag);
            $("#ticket_IssueId").prop('disabled', flag);
            $("#ticket_Description").prop('readonly', flag);
            $("#ticket_Scenario").prop('readonly', flag);
            $("#hidAssignedTo").prop('readonly', flag);
            $("#hidTicketId").prop('readonly', flag);
            $("#hidUserId").prop('readonly', flag);
            $("#hidUniqueId").prop('readonly', flag);
            if (flag) {
                $("#submitTicket").hide();
            } else {
                $("#submitTicket").show();
            }
        }


        function myFunction(input) {
            // Declare variables
            var re;
            //var input = document.getElementById('myInput'),
            var filter = $(input).val();
            //   var id = $(input).data("id");
            //ul = document.getElementById('mAll'),
            if ($('.all-tickets').hasClass('shown')) {
                lis = $('.all-tickets').find('.ticket');
            } else if ($('open-tickets').hasClass('shown')) {
                lis = $('.my-tickets').find('.ticket');
            }
            else
                lis = $(".close-tickets").find('.ticket');
            //lis = ul.getElementsByTagName('li'),
            searchTerms = filter.match(/[a-z]+/gi);
            //li, a;

            if (searchTerms) {
                searchTerms = searchTerms.map(function (term) {
                    return '(?=.*' + term + ')';
                });

                re = new RegExp(searchTerms.join(''), 'i');
            } else {
                re = /./;
            }

            // Loop through all list items, and hide those who don't match the search query
            for (index = 0; index < lis.length; index++) {
                var li = lis[index];
                var a = $(li).find('.ticket-header').find('.ticket-issue').find('a');

                if (! /^\d+$/.test(filter.slice(1))) {
                    if (re.test(a.html())) {
                        li.style.display = '';
                    } else {
                        li.style.display = 'none';
                    }
                } else {
                    if ($(a).find('span').html().includes(filter)) {
                        li.style.display = '';
                    } else {
                        li.style.display = 'none';
                    }
                }
            }
        }

        const convertTime12to24 = (time12h) => {
            const [time, modifier] = time12h.split(' ');

            let [hours, minutes] = time.split(':');

            if (hours === '12') {
                hours = '00';
            }
            if (modifier === 'PM') {
                hours = parseInt(hours, 10) + 12;
            }
            var ampm = hours < 12 ? "AM" : "PM";
            return `${hours}:${minutes} ${ampm}`;
        }

        const tabs = document.querySelectorAll(".tab");
        const tickets = document.querySelectorAll(".tickets");

        console.log(tabs);
        console.log(tickets);

        tabs.forEach((tab, index) => {
            tab.addEventListener("click", () => {
                tabs.forEach(item => {
                    item.classList.remove("active");
                });
                tabs[index].classList.add("active");
                tickets.forEach(item => {
                    item.classList.remove("shown");
                });
                tickets[index].classList.add("shown");
            });
        })

        function ValidateFileType() {
            var validator = true;

            var fileName = document.getElementById("ticket_file").value;
            var idxDot = fileName.lastIndexOf(".") + 1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
            if (extFile == "mp4") {
                if ($("#ticket_file").get(0).files[0].size > ((1024 * 1024) * 10)) {
                    toastr.error("Please upload video less than 10MB.");
                    validator = false;
                }
            }
        return validator;
        }


        </script>
    }

