@using KockpitPortal.Models.PlanManagement
@model IEnumerable<KockpitPortal.Models.PlanManagement.tblPlan>
@{
    ViewData["Title"] = "Index";
    //string selectedPlans = (string)ViewBag.CartPlans;
    //Dictionary<string, List<tblPlan>> data = (Dictionary<string, List<tblPlan>>)ViewBag.data;
}


<div class="main">
    <input type="hidden" id="ctrhidCartPlan">
    <div class="plans-wrapper">
        <div class="product-selector">
            <label for="product-list">Select Product</label>
            <select asp-items="ViewBag.ProjectList" id="selProduct"></select>

            <div class="tagline">
                <span class="iconify" data-icon="clarity:shield-check-solid"></span>
                <p>Fast Secure </br> and Affordable</p>
            </div>
        </div>
        <div class="plans-card-container" id="divPlanContainer">
        </div>
    </div>

    <div class="additional-resources plans-page">
        <h3>Easy and secure payments</h3>
        <div class="additional-resources-cards-container">
            <a href="#help&support" class="card">
                <div class="icon">
                    <span class="iconify" data-icon="bx:bxl-visa"></span>
                </div>
                <div class="text">
                    <h4>Trusted Payments Methods</h4>
                    <p>Share Power BI reports and Dashboards in the form on screenshots</p>
                </div>
            </a>

            <a href="#manage-subscriptions" class="card">
                <div class="icon">
                    <span class="iconify" data-icon="bi:shield-check"></span>
                </div>
                <div class="text">
                    <h4>Secure Payments</h4>
                    <p>Share Power BI reports and Dashboards in the form on screenshots</p>
                </div>
            </a>

            <a href="#manage-subscriptions" class="card">
                <div class="icon">
                    <span class="iconify" data-icon="bi:shield-check"></span>
                </div>
                <div class="text">
                    <h4>Cancel any time</h4>
                    <p>Share Power BI reports and Dashboards in the form on screenshots</p>
                </div>
            </a>
        </div>
    </div>

    <div class="faq">
        <div class="faq-heading text-center">
            <h1><a href="#" data-toggle="modal" data-target="#FAQModal">Still have questions?</a></h1>
        </div>

        <div class="faq-accordion">
        </div>

    </div>
</div>

<div class="modal fade" id="FAQModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-lg-12">
                    <div class="row d-flex">
                        <div class="col-lg-10">
                            <h5 class="modal-title" id="exampleModalLabel"><b>FAQ</b></h5>
                        </div>
                        <div class="col-lg-2">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div>
                    If You still have any doubts and wants to raise a query for that please raise ticket
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-outline-primary"  id="btnRaiseIssue"><b>Visit</b></button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script type="text/javascript">

      $(function () {
            @if(ViewData["error"] != null)
            {
                <text>
            toastr.error("@ViewData["error"]", "Error", { "iconClass": 'new-error' });
                </text>
            }
            @if(ViewData["success"] != null)
            {
                <text>
            toastr.success("@ViewData["success"]");
                </text>
            }
        });

        $(document).ready(function () {
            var id = $("#selProduct").val();
            if (id != null) {
                Plan(id);
                GetQuestions(id);
            }
        });


        function Plan(param)
        {
            $("#loader").show();
            var formData = new FormData();
            formData.append("id", param);
                $.ajax({
                url: "@Url.Action("ShowPlans", "PlanInfo")",
                type: "POST",
                data: formData,
                contentType: false,
                processData: false,
                success: function (res) {
                    $("#loader").hide();
                    if (res.item1.success == true) {
                        var htmlData = "";
                            for (var i = 0; i < res.item2.length; i++)
                            {
                                htmlData += '<div class="plan">';
                                htmlData += '<div class="product-name" >' + res.item2[i].projectName+ '</div >';
                                htmlData += '<div class="plan-type" > ' + res.item2[i].planName+'</div >';
                                htmlData += '<div class="plan-price" >';
                                htmlData += '<span class="plan-amount"> US$ <b>' + res.item2[i].planPrice +'</b></span >';
                                htmlData += '<span class="plan-duration" > Per License</span >';
                                htmlData += '</div >';
                                htmlData += '<button class="outline-btn" planid = "' + res.item2[i].id + '" projectid="' + res.item2[i].projectId + '" price="' + res.item2[i].planPrice +'" onclick="fnAddToCart(this)">';
                                htmlData += '<span class="iconify" data - icon="bi:cart" ></span > Add To Cart</button >';
                                htmlData += '</div >';
                        }
                        $("#divPlanContainer").append(htmlData);
                        htmlData = "";
                    }
                    else {
                        toastr.error("no plans found for this offering");
                    }
                },
                error: function (err) {
                    toastr.error(err);
                }
            });
        }

        $("#selProduct").on('change', function () {
            $("#divPlanContainer").html("");
            Plan($(this).val());
            GetQuestions($(this).val());
        });

        function fnAddToCart(btn) {
            var _planId = $(btn).attr("planid");
            var _projectId = $(btn).attr("projectid");
            var _price = $(btn).attr("price");
            postForm("@Url.Action("AddToCart", "PlanInfo")", {
                "offeringId": _projectId,
                "planId": _planId,
                "price": _price
            });
        }

        function fnViewCart() {
            var _planList = $("#ctrhidCartPlan").val();
            if (_planList != "") {
                postForm("@Url.Action("CheckOut", "PlanInfo")", {
                    "planIds": _planList
                });

            } else {
                toastr.error("Your Cart is empty");
            }
        }

        function GetQuestions(id) {
           $(".faq-accordion").html("");
            var frmData = new FormData();
            frmData.append("offeringId", id);
            $("#loader").show();
                $.ajax({
                    url: "@Url.Action("GetOfferingsFaQ", "PlanInfo")",
                    type: "POST",
                    data: frmData,
                    processData: false,
                    contentType: false,
                    success: function (res) {
                        $("#loader").hide();
                        htmlData = "";
                        if (res.item1.success == true) {
                            for (var i = 0; i < res.item2.length; i++) {

                                htmlData += '<div class="faq-accordion-item" onClick="accordionHandler(this)">';
                                htmlData += '<div class="faq-accordion-question" >' + res.item2[i].question+'';
                                htmlData += '<div class="faq-question-actions" >';
                                htmlData += '<div class="show-icon" ><img src="/assets/accordion-plus.svg" alt=""></div>';
                                htmlData += ' <div class="hide-icon" > <img src="/assets/accordion-minus.svg" alt=""></div>';
                                htmlData += '                </div >';
                                htmlData += '            </div >';
                                htmlData += '       <div class="faq-separator"></div>';
                                htmlData += ' <div class="faq-accordion-answer" >';
                                htmlData += '<p > ' + res.item2[i].answer + '</p>';
                                htmlData += '</div>';
                                htmlData += '            </div >'
                               // htmlData += '       </div >';
                            }
                            $(".faq-accordion").append(htmlData);
                        } 
                    },
                    error: function (err) {
                        $("#loader").hide();
                        toastr.error(err);
                    }
                });

        }

        $("#btnRaiseIssue").on('click', function () {
            window.location.href = "@Url.Action("Index", "RaiseIssue")";
        });

        // Faq Accordion
        

        //accordionItems.forEach(accordion => {
        //    accordion.addEventListener("click", () => {
                
        //    });
        //});

        function accordionHandler(accordion) {
            if (accordion.classList.contains("expanded")) {
                accordion.classList.remove("expanded");
            } else {
                const accordionItems = Array.from(document.querySelectorAll(".faq-accordion-item"));
                accordionItems.forEach(item => {
                    item.classList.remove("expanded");
                });
                accordion.classList.add("expanded");
            }
        }

    </script>

}